.landing__page{
  min-height: 100vh;
  background-image: url(../public/Images/loading_imagebg.png);
  background-size: cover;
  background-position: center;
}
.mint{
  min-height: 100vh;
  background-image: url(../public/Images/loading_imagebg.png);
  background-size: cover;
  background-position: center;
}

.hero_img{
  cursor: pointer;
}

.mint__left{
  background-color: #000;
  min-height: 50vh;
}

.mint__left__top > h6{
  font-size: 12px;
  font-weight: 800;
}
.mint__left__top > div > img{
  height: 150px;
}

.mint__right{
  position: relative;
}
.mint__right > h5{
  cursor: pointer;
}
.mint__right > h6{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-size: 14px;
}
.mint__right > img{
  height: 150px; 
  cursor: pointer;
}



/* Mint Buttons */
.noButtons{
  display: none;
}
.mintButtons{
  display: flex;
  align-items: center;
}
.mintButtons > input{
  max-width: 60px;
  outline: none;
  border: 1px solid rgb(197, 197, 197);;
  margin: 20px;
}
.mintButtons > div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  cursor: pointer;
  background-color: rgb(197, 197, 197);
}